main {
    height: 600px;
}

.game-list {
    width: 100%;
    height: 100%;
    background: rgba(224, 255, 255, 0.8);
}

.game-list > div {
    padding: 1rem;
} 

.game-list > div > ul > li {
    text-indent: 1rem;
    font-size: 1.2rem;
}